<a href="https://colab.research.google.com/github/busolla-code/OluwabusolaOlayinka_DTSC3020Fall2025/blob/main/Assignment2_oeo0053.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1:

In [1]:
fruits = ["strawberry" , "pineapple" , "kiwi"]
print(fruits)

['strawberry', 'pineapple', 'kiwi']

In [2]:
for x in fruits:
  print(x)

strawberry
pineapple
kiwi

Step 2:

In [3]:
names=["Harry", "Liam", "Naomi", "Draco"]
names[0]="Geoerge"
print(names)

['Geoerge', 'Liam', 'Naomi', 'Draco']

Step 3:

In [4]:
vehicles=["car","bus","bike","boat","plane"]
vehicles.append("train")
print(vehicles)

['car', 'bus', 'bike', 'boat', 'plane', 'train']

Step 4:

In [5]:
foods=["yogurt","pancake","hotdog", "pasta","corn","pickle"]
foods.remove("pasta")
print(foods)

['yogurt', 'pancake', 'hotdog', 'corn', 'pickle']

Step 5:

In [6]:
cities=["New York","Dallas","Chicago","Atlanta"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['Atlanta', 'Chicago', 'Dallas', 'New York']
['New York', 'Dallas', 'Chicago', 'Atlanta']

Step 6:

In [7]:
animals=["lion","tiger","bear"]
for animal in animals:
  print(animal)

lion
tiger
bear

Step 7:

In [8]:
number=[1,2,3,4,5]
for x in number:
  print(x * 2)

2
4
6
8
10

Step 8:

In [9]:
friends=["Venus","Joey","Favor","Nifemi","Daniel","JJ"]
print(friends[:3])
print(friends[-3:])

['Venus', 'Joey', 'Favor']
['Nifemi', 'Daniel', 'JJ']

Step 9:

In [10]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Step 10:

In [11]:
squares=[x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]